a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:link {
  color: #f8f8f8;
}

a:visited {
  color: #d11515;
}

a:focus {
  border-bottom: 1px solid;
  background: #f9faf9;
}

a:hover {
  font-size: 18px;
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}

/*
img {
  border:2px solid white;
  float: center;
  width: 20px;
  height: 30px;
  border-radius: 30%;
} */

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-image: url("images/flower.jpg");
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  background-color: #030000;
  background-size: 100% 100%;
}
div {
      box-sizing:border-box;
      border-radius:10px;
      margin:0, 0, 2%;
      padding:2%;
      text-align:center;
}

#hd {
  float: none;
  clear: right;
  margin: 1%;
  padding: 10px;
  height: 220px;
  text-align: center;
 /* background-color: #74e6d6;
  opacity: 0.5; */
}

#lnav {
  float: left;
  clear: left;
  width: 18%;
  height: 600px;
  border: 1px solid white;
  margin: 1%;
  padding: 2%;
}

#bd {
  float: left;
  width: 58%;
  height: 600px;
  text-align: center;
  margin: 1%;
  
  padding: 2%;
 /* background-color: #cdfeaa;  */
  overflow: scroll;
}

#rnav {
  float: left;
  margin: 1%;
  clear: right;
  width: 18%;
  height: 600px;
  border: 1px solid white;
  /*height: 50%;
  position: ;*/
  /*margin: 2%;*/
  padding: 2px;
}

#ft {
  float: none;
  clear: both;
  margin: 10px, 60px, 60px, 60px;
  padding: 60px  ;
  text-align: center;
}