html {
  height: 100%;
  width: 100%;
  background-color: #7c5f2d;
}

h1 {
  text-align: center;
  color: ;
}
.sc {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}

#result {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
}

.keys button {
  width: 40px;
  height: 40px;
  margin: 5px;
}
